body {
	color:#212121;
	background: url('../images/linen.jpg') fixed;
}

.header {
	padding:4em 30%;
}

.outer-container {
	padding:0 0 3em 0;
}

.header h1,
.header h6 {
	text-align:center;
}

.header h4 {
	color:grey;
	text-align:center;
}

.header h4 span {
	float:right;
	font-size:small;
}

.lp {
	max-width:100%;
	transition: all 20s linear;
	margin-bottom:50px;
}

.play {
	animation: rotate 2.5s linear infinite;
	animation-play-state: paused; 
}

@keyframes rotate {
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }	
}

@-webkit-keyframes rotate {
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }	
} 

/*.lp:hover {
	-ms-transform: rotate(3600deg);
  -moz-transform: rotate(3600deg);
  -webkit-transform: rotate(3600deg);
  -o-transform: rotate(3600deg);
  transform: rotate(3600deg);
} */

.lp:hover ~ .arm {
	-ms-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

.lp-container{
	position:relative;
	background-color:#fafafa;
	padding:20px;
	margin-top:50px;
	overflow:hidden;
	border:1px solid #d6d6d6;
	border-radius:5%;
	box-shadow:1px 1px 10px rgba(189,189,189, .3)
}

.arm {
	transform-origin: 10px 10px;
	position:absolute;
	left:87%;
	top:20px;
	transition:all 1s ease-out;
	height: 50%;
}

.title {
	text-align:center;
	font-weight:bold;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	padding:10px 0;
	border-top:1px solid #d6d6d6;
}


 
